body {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(20,20,20,1);

    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    color : white;
}

.fadeClass {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.gif{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* Keeps it on top */
    width: 60px;
    height: 90px;
}

.section-title {
    font-weight: bold;
    margin-top: 20px;

    align-content: center;
}

h1, h2 {
    color: white;

    text-align: center;
    align-content: center;
}
p {
    color: white;

    align-content: center;
    text-align: center;
}

.background-video {
    position: fixed;

    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: brightness(0.6);
}

.card {

    background: rgba(20, 0, 20, 0.25);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: white;
    text-align: center;

    padding: 2rem;
    border-radius: 16px;

    width: 300px;
    position: relative;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    margin-bottom: 1rem;

    transition: 0.3s ease-in-out all;
}

.profile-img:hover {
    transform: scale(0.95);
}

.username {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;

    background: linear-gradient(45deg, #5705de, #c529f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 30px rgba(33, 150, 243, 0.3);
    letter-spacing: 1px;
}

.divider {
    font-size: 1.5rem;
    margin: 0.5rem 0;

    color: rgba(150, 150, 150, 1);
}

.location {
    margin-bottom: 1rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.social-icon {

    width: 44px;
    height: 44px;
    border-radius: 50%;

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition: ease 0.2s;
}

.social-icon:hover {
    transform: scale(1.05) translateY(-5px);
}

.circled{
    border-radius: 10px;
}

.name-icons{
    padding-top: 10px;
    width: 15px;
    height: 15px;
}

.lowered{
    padding-top: 10px;
}

.pl-icon {
    width: 35px;
    height: 35px;

    border: 1px solid rgba(255, 255, 255, 0);

    transition: ease 0.2s;
}
.pl-icon:hover {
    transform: scale(0.95) translateY(-3px);
}

.discord-button {
    background-color: #5865F2;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;

    display: inline-block;
    margin-bottom: 1rem;

    transition: 0.2s ease-in-out;
}

.discord-button:hover {
    background-color: #4752c4;
    transform: scale(1.05) translateY(-3px);
}

.views {
    font-size: 1rem;
    opacity: 0.8;
}

.overlay {
    background: rgba(20, 0, 20, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 9999;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
